@model IEnumerable<GestionDeInventarioInformatico.equipos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.garantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motherboard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ssd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departamentos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadAlmacenamiento.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marcas.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedores.cuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ramtipo.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidadAlmacenamiento1.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.garantia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motherboard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gpu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ssd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departamentos.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadAlmacenamiento.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marcas.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedores.cuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ramtipo.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidadAlmacenamiento1.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEquipo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEquipo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEquipo })
        </td>
    </tr>
}

</table>
